

<!-- admin.component.html -->
<div class="wrapper">
  <!-- Sidebar -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-2 d-none d-sm-block">
        <nav id="sidebar" class="">
          <div class="sidebar-header">
            <h3>لوحة التحكم</h3>
          </div>
      
          <ul class="list-unstyled components">
            <li class="mt-3">
              <a routerLink="dashboard" routerLinkActive="active"><i class="material-icons">dashboard</i><span>لوحة الإحصاءات</span></a>
          </li>
          <li>
              <a routerLink="all-orders" routerLinkActive="active"><i class="material-icons">list_alt</i><span>الطلبات</span></a>
          </li>
          <li>
              <a routerLink="products-list" routerLinkActive="active"><i class="material-icons">store</i><span>المنتجات</span></a>
          </li>
          <li>
              <a routerLink="users-list" routerLinkActive="active"><i class="material-icons">group_add</i><span>المستخدمون</span></a>
            </li>
        <!--     <li>
              <a routerLink="user-settings" routerLinkActive="active"><i class="material-icons">settings</i><span>Settings</span></a>
            </li> -->
          </ul>
        </nav>
      
      </div>
      <div class="col-12 col-sm-10 ">
          <!-- Page Content -->
  <div id="content">
    <div class="row justify-content-center pt-3 pb-3">
      <div class="col-12">
        <div class="d-sm-none d-flex justify-content-center">
          <button type="button" class="btn btn-outline-primary" routerLink="dashboard" routerLinkActive="active">
            <i class="material-icons">dashboard</i> لوحة الإحصاءات
          </button>
          <button type="button" class="btn btn-outline-primary" routerLink="all-orders" routerLinkActive="active">
            <i class="material-icons">list_alt</i> الطلبات
          </button>
          <button type="button" class="btn btn-outline-primary" routerLink="products-list" routerLinkActive="active">
            <i class="material-icons">store</i> المنتجات
          </button>
          <button type="button" class="btn btn-outline-primary" routerLink="users-list" routerLinkActive="active">
            <i class="material-icons">group_add</i> المستخدمون
          </button>
        </div>
      </div>
    </div>
  
    
     <router-outlet></router-outlet> 
      </div>
    </div>
  </div>


  </div>

 