/* You can add global styles to this file, and also import other style files */

label.xng-breadcrumb-trail {
    color:  #BF9553;
}

.product-tabset > .nav-tabs > li.open > a, .product-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }
  
  .product-tabset > .nav-tabs > li.open > a > i, .product-tabset > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  
  .product-tabset > .nav-tabs > li.open .dropdown-menu, .product-tabset > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  
  .product-tabset > .nav-tabs > li.active {
    border-bottom: 4px solid #BF9553;
    position: relative;
  }
  
  .product-tabset > .nav-tabs > li.active > a {
    border: 0 !important;
    color: #333333;
  }
  
  .product-tabset > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  
  .product-tabset > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }


.btn-outline-primary{
  color:#522888;
  border-color: #743ac0;
 
}

.btn-primary {
  color:white;
  background:#522888;
  border-color: #743ac0;
 
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #522888;
  border-color: #743ac0;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary {
  color: #fff;
  background-color: #522888;
  border-color: #743ac0;
}

.btn-secondary{
  background:#BF9553;
  border: #e9cb9c;
}

.btn-outline-secondary{
  color:#BF9553;
  border-color: #BF9553;
 
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active, .btn-outline-secondary.active, .open>.dropdown-toggle.btn-outline-secondary {
  color: #fff;
  background-color: #BF9553;
  border-color: #ebe8e4;
}


/* .btn.disabled, .btn:disabled, fieldset:disabled .btn {
  color: #fff;
  pointer-events: none;
  background-color:  #522888;
  border-color: #522888;
  opacity: var(--bs-btn-disabled-opacity);
}
 */



.btn.disabled.btn-primary,
.btn:disabled.btn-primary,
fieldset:disabled .btn.btn-primary {
  color: #fff;
  pointer-events: none;
  background-color:  #522888;
  border-color: #522888;
  opacity: var(--bs-btn-disabled-opacity);
}
.navbar {
  background-color: #522888;
}


.active>.page-link, .page-link.active {
 
  color: var(--bs-pagination-active-color);
  background-color: #522888;
  border-color: #743ac0;
}


.page-link {
  color: #BF9553;
}
.text-primary-purble{
 color: #522888;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: #522888;
}
/* 
.form-check-input:checked {
  background-color: #522888;
  border-color: #743ac0;
}
.ngx-gallery-image {

  height: 200px !important;
  width: 200px  !important;

}

.ngx-gallery-image-wrapper {
  height: 200px !important;
  width: 200px  !important;
} */


@font-face {
  font-family: 'Noto Kufi Arabic';
  src: url('./assets/fonts/NotoKufiArabic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.user-avatar {
  border: 3px solid #f8f9fa;
  padding: 2px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
}
body {
  font-family: 'Noto Kufi Arabic', sans-serif;
}

.form-check-input:checked {
  background-color: #522888;
  border-color: #522888;
}