

  <div class="d-flex justify-content-center mt-5">
    <div class="col-3">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="text-center mb-4">
          <h1 class="mb-3">Forgot Password</h1>
        </div>
        
       <div>
          <label for="email">New password:</label>
          <input  class="form-control"type="password" id="newPassword" formControlName="newPassword"  />
        </div> 
        <div>
          <label for="confirmPassword">Confirm new password:</label>
          <input class="form-control" type="password" id="confirmPassword" formControlName="confirmPassword" />
        </div>
         
        <div class="d-grid">
          <button [disabled]="!resetPasswordForm.valid" class="btn btn-lg btn-primary mt-3" type="submit">Reset Password</button>
        </div>
      </form>
    </div>
  
  </div>